.CsButton {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .button__customize {
        --height: 44px;
        background-color: #fff;
        border: 2px solid #dce0e3;
        border-radius: 44px;
        display: inline-block;
        height: var(--height);
        line-height: var(--height);
        padding-left: 16px;
        position: relative;
        text-align: center;
        width: 320px;
        cursor: pointer;
        max-width: 80%;
        
        &:hover {
            background-color: #dce0e3;
        }

        img {
            position: absolute;
            font-size: 25px;
            color: blue;
            top: 50%;
            transform: translateY(-50%);
            left: 10%;
        }
    
        .button__title {
            color: #35414c;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 40px;
            outline: 0;
            text-align: center;
        }
    }
}
